<mat-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>announcement</mat-icon>
      <span>Issues</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let routeLink of routeLinks; let i = index;"
     [routerLink]="routeLink.link"
     routerLinkActive="mat-tab-link-active"
     #rla="routerLinkActive"
     [active]="activeLinkIndex === i"
     (click)="activeLinkIndex = i"
     [routerLinkActiveOptions]="{exact: true}"
  >
    {{routeLink.label}}
  </a>
</nav>

<router-outlet></router-outlet>
